div {
    font-family: 'Courier Prime';
}

.main {
    background-color: lightgray;
    display: flex;
    height: 460px;
    width: 960px;
    flex-wrap: wrap;
    margin: 10px;
}

.en {
    background-color: mistyrose;
    height: 200px;
    width: 450px;
    margin: 20px 10px auto 20px;
}

.ptbr {
    background-color: pink;

    height: 200px;
    width: 450px;
    margin: 20px 20px auto 10px;
}

.pol {
    background-color: salmon;
    height: 200px;
    flex: 1;
    margin: 20px;
}

.container {
    background-color: red;
    height: auto;
    width: 960px;
    flex-wrap: wrap;
    margin: 10px;

}

.item1 {
    background-color: mistyrose;
    height: 200px;
    width: 450px;
    position: absolute;
    top: 35px;
    left: 35px;
}

.item2 {
    background-color: pink;
    height: 200px;
    width: 450px;
    position: absolute;
    top: 35px;
    left: 50%;
}

.item3 {
    background-color: salmon;
    height: 200px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 35px;

}

.floating-inside {
    margin-top: 100px;
}

.f1 {
    float: right;
    background-color: red;
}
