books
html&css/.idea/
.idea/frontend_test.iml
.idea/modules.xml
.idea/prettier.xml
.idea/saveactions_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
pages/basicHtmlPage/index.html
pages/basicHtmlPage/styles.css
pages/bookOnlineShop/bookCovers.jpeg
pages/bookOnlineShop/bookOnlineShop
pages/bookOnlineShop/index.html
pages/bookOnlineShop/styles.css
pages/bookOnlineShop/images/powrot-z-bambuko.jpg
pages/cssInDetails/diagram-boxmodel.svg
pages/cssInDetails/html-basic.png
pages/cssInDetails/index.html
pages/cssInDetails/reset.css
pages/cssInDetails/styles.css
pages/Exercise/ex11-room-homepage/index.html
pages/Exercise/ex11-room-homepage/style-guide.md
pages/Exercise/ex11-room-homepage/design/active-states.jpg
pages/Exercise/ex11-room-homepage/design/desktop-design-slide-1.jpg
pages/Exercise/ex11-room-homepage/design/desktop-preview.jpg
pages/Exercise/ex11-room-homepage/design/mobile-design.jpg
pages/Exercise/ex11-room-homepage/design/mobile-navigation.jpg
pages/Exercise/ex11-room-homepage/images/desktop-image-hero-1.jpg
pages/Exercise/ex11-room-homepage/images/desktop-image-hero-2.jpg
pages/Exercise/ex11-room-homepage/images/desktop-image-hero-3.jpg
pages/Exercise/ex11-room-homepage/images/favicon-32x32.png
pages/Exercise/ex11-room-homepage/images/icon-angle-left.svg
pages/Exercise/ex11-room-homepage/images/icon-angle-right.svg
pages/Exercise/ex11-room-homepage/images/icon-arrow.svg
pages/Exercise/ex11-room-homepage/images/icon-close.svg
pages/Exercise/ex11-room-homepage/images/icon-hamburger.svg
pages/Exercise/ex11-room-homepage/images/image-about-dark.jpg
pages/Exercise/ex11-room-homepage/images/image-about-light.jpg
pages/Exercise/ex11-room-homepage/images/logo.svg
pages/Exercise/ex11-room-homepage/images/mobile-image-hero-1.jpg
pages/Exercise/ex11-room-homepage/images/mobile-image-hero-2.jpg
pages/Exercise/ex11-room-homepage/images/mobile-image-hero-3.jpg
pages/Exercise/ex1-me&poetry-static/index.html
pages/Exercise/ex1-me&poetry-static/Readme.md
pages/Exercise/ex1-me&poetry-static/screenshot.png
pages/Exercise/ex1-me&poetry-static/css/main.css
pages/Exercise/ex1-me&poetry-static/img/old-street.jpg
pages/Exercise/ex4-responsive-tables/index.html
pages/Exercise/ex4-responsive-tables/Readme.md
pages/Exercise/ex4-responsive-tables/css/main.css
pages/Exercise/ex4-responsive-tables/css/normalize.css
pages/Exercise/ex4-responsive-tables/designs/desktop.png
pages/Exercise/ex4-responsive-tables/designs/screen-width-850px.png
pages/Exercise/ex4-responsive-tables/designs/screen-width-lower-than-850px.png
pages/Exercise/ex7-responsive-navigation/index.html
pages/Exercise/ex7-responsive-navigation/css/main.css
pages/Exercise/ex7-responsive-navigation/css/normalize.css
pages/Exercise/ex7-responsive-navigation/design/screencast--2020.10.20-13_20_00.webm
pages/Exercise/ex7-responsive-navigation/design/screencast--2020.10.20-13_23_41.webm
pages/Exercise/ex7-responsive-navigation/design/screen-width-less-than-800px.png
pages/Exercise/ex7-responsive-navigation/design/sreen-width-tablet.png
pages/Exercise/ex7-responsive-navigation/design/view-with-expand-menu.png
pages/Exercise/ex9-responsive-media/index.html
pages/Exercise/ex9-responsive-media/css/main.css
pages/Exercise/ex9-responsive-media/css/normalize.css
pages/Exercise/ex9-responsive-media/designs/screen-ex10.png
pages/Exercise/ex9-responsive-media/designs/screen-ex9.png
pages/Exercise/ex9-responsive-media/designs/video-ex10.webm
pages/Exercise/ex9-responsive-media/designs/video-ex9.webm
pages/exercise_one/index.html
pages/exercise_one/normalize.css
pages/exercise_one/photo.jpg
pages/exercise_one/reset.css
pages/exercise_one/styles.css
pages/exercise_one/poprawkiOdKasi/correctClassNames.png
pages/exercise_one/poprawkiOdKasi/css.png
pages/exercise_one/poprawkiOdKasi/html.png
pages/exercise_three/index.html
pages/exercise_three/normalize.css
pages/exercise_three/photo.jpg
pages/exercise_three/styles.css
pages/exercise_two/index.html
pages/exercise_two/normalize.css
pages/exercise_two/photo.jpg
pages/exercise_two/styles.css
pages/exercise11/node_modules/
pages/exercise6/index.html
pages/exercise6/main.css
pages/exercise6/normalize.css
pages/exercise8/index.html
pages/exercise8/js_script.js
pages/exercise8/main.css
pages/exercise8/normalize.css
pages/exercise9/index.html
pages/exercise9/main.css
pages/exercise9/normalize.css
pages/flexbox0/index.html
pages/flexbox0/styles.css
pages/gataoFirstLesson/index.html
pages/gataoFirstLesson/styles.css
pages/grid/gridAreas/index.html
pages/grid/gridAreas/styles.css
pages/grid/gridFramework/index.html
pages/pageWithParallax/index.html
pages/pageWithParallax/normalize.css
pages/pageWithParallax/styles.css
pages/pageWithParallax/winter.jpg
pages/shopWebsiteInFlex/index.html
pages/shopWebsiteInFlex/styles.css
pages/shopWebsiteInFlex/images/bag.jpg
pages/shopWebsiteInFlex/images/cart.png
pages/shopWebsiteInFlex/images/coat.jpg
pages/shopWebsiteInFlex/images/dress.png
pages/shopWebsiteInFlex/images/jeans.jpg
pages/shopWebsiteInFlex/images/logo.png
pages/shopWebsiteInFlex/images/shoe.png
pages/shopWebsiteInFlex/images/shoes.jpg
pages/shopWebsiteInFlex/images/sweatshirt.png
pages/shopWebsiteInFlex/images/trousers.png
pages/shopWebsiteInFlex/images/tshirt.png
pages/shopWebsiteInFlex/images/user.png
pages/shopWebsiteInGrid/index.html
pages/shopWebsiteInGrid/styles.css
pages/shopWebsiteInGrid/images/bag.jpg
pages/shopWebsiteInGrid/images/cart.png
pages/shopWebsiteInGrid/images/coat.jpg
pages/shopWebsiteInGrid/images/dress.png
pages/shopWebsiteInGrid/images/jeans.jpg
pages/shopWebsiteInGrid/images/logo.png
pages/shopWebsiteInGrid/images/shoe.png
pages/shopWebsiteInGrid/images/shoes.jpg
pages/shopWebsiteInGrid/images/sweatshirt.png
pages/shopWebsiteInGrid/images/trousers.png
pages/shopWebsiteInGrid/images/tshirt.png
pages/shopWebsiteInGrid/images/user.png
