body {
    background-color: #1a1516;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 0 20px;
}

.nav-bar {
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    background-color: rgba(0, 0, 0, .8);
}

.nav-menu-icon, .nav-exit-icon {
    position: absolute;
    z-index: 1;
    top: 20px;
    display: none;
    border: solid thin gray;
    border-radius: 50%;
    width: 25px;
    padding: 0.5em;
    font-size: 25px;
    font-weight: 150;
    color: white;
}

.nav-menu {
    display: table;
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
}

.nav-menu a {
    display: table-cell;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu a:hover {
    background-color: rgba(255, 255, 255, .1);
}

.main-wrapper {
    text-align: justify;
}

.section {
    margin-top: 30px;
    margin-bottom: 60px;
}

.section-heading {
    margin: 30px 0;
    font-size: 1.875rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.section p {
    font-size: 1.188rem;
    font-weight: 300;
}

@media only screen and (max-width: 800px) {

    .nav-bar {
        border-bottom: none;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu-icon {
        display: inline-block;
    }

    .container.responsive body {
        background-color: black;
    }

    .container.responsive .nav-menu-icon {
        display: none;
    }

    .container.responsive .nav-exit-icon {
        display: inline-block;
    }

    .container.responsive .nav-menu {
        position: absolute;
        flex-direction: column;
        display: flex;
        width: calc(100vw - 40px);
    }

    .container.responsive .nav-menu a {
        display: block;
        text-align: center;
    }

    .container.responsive .section-heading {
        color: #454545;
    }

    .container.responsive .section p {
        color: #454545;
    }
}