body {
    background-color: #1a1516;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-bar {
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
}

.main-menu li {
    display: table-cell;
    text-align: center;
}

.main-menu li a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.main-menu .mobile-menu-icon {
    display: none;
}

.fa.fa-bars {
    border: thin solid white;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
}

.section {
    margin-top: 30px;
    margin-bottom: 60px;
}

.section-heading {
    margin: 30px 0;
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.section p {
    font-size: 1.188rem;
    font-weight: 300;
    text-align: justify;
}

@media only screen and (max-width: 800px) {
    .main-menu li:not(:last-child) {
        display: none;
    }

    .main-menu {
        position: relative;
    }

    .main-menu .mobile-menu-icon {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 800px) {

    .main-menu.responsive {
        position: relative;
    }

    .main-menu.responsive li {
        position: absolute;
        z-index: 1;
        display: block;
        text-align: center;
    }

    .fa.fa-bars {
        border-radius: 50%;
        width: 20px;
    }
}
