@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    background-color: #f9d5e5;
    text-decoration: none;
}

h1 {
    color: #e06377;
    font-family: GFSDidotRegular;
    font-weight: normal;
}

p {
    color: #e06377;
    font-size: 20px;
}

a {
    color: #c83349;
    font-size: 18px;
    text-decoration: none;
}

.poem {
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.poem p {
    color: #d64161;
    font-family: 'Cinzel', serif;
    margin-left: 60px;
}

ul {
    list-style-type: square;
}