body {
    font: 15px 'Droid Serif', Verdana, Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

.content-wrapper {
    float: right;
    width: 660px;
}

.sidebar {
    float: left;
    box-sizing: border-box;
    width: 300px;
    padding: 75px 10px 0 0;
}

ul.navigation-panel {
    font-size: 19px;
    list-style-type: none;
}

.nav-link {
    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
    padding: 20px 0;
}

.nav-link-bottom {
    border-bottom: thin solid lightgray;
    padding: 20px 0;
}

a,
a:visited {
    text-decoration: none;
    color: darkslategrey;
}

.logo {
    font: 500 32px 'Lato', sans-serif;
    text-align: center;
}

span.ampersand {
    font: bold 42px 'Lato', sans-serif;
}

header {
    margin-top: 80px;
    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
    font-style: italic;
    text-align: center;
    color: darkslategrey;
}

.text-wrapper {
    margin: 25px auto;
    box-sizing: border-box;
    width: 500px;
    text-align: justify;
}

header > h2 {
    font-size: 24px;
    font-weight: 500;
}

header > h3 {
    font-size: 20px;
    font-weight: 500;
}

.image {
    width: 500px;
    filter: grayscale(100%);
}

footer {
    margin: 0 auto 50px auto;
    border-top: thin solid lightgray;
    font-size: 12px;
}
