:root {
    --nav-padding: 20px 0;
    --main-border: thin solid lightgray;
}

.body-font {
    font: 15px 'Droid Serif', Verdana, Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

.content-wrapper {
    float: right;
    margin-top: 80px;
    width: 660px;
}

.sidebar {
    float: left;
    box-sizing: border-box;
    width: 300px;
    padding: 75px 10px 0 0;
}

.navigation-panel {
    font-size: 19px;
    list-style-type: none;
}

.nav-link {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: var(--nav-padding);
}

.nav-link-bottom {
    border-bottom: var(--main-border);
    padding: var(--nav-padding);
}

.nav-link-text,
.nav-link-text:visited {
    text-decoration: none;
    color: darkslategrey;
}

.logo {
    font: 500 32px 'Lato', sans-serif;
    text-align: center;
}

.ampersand {
    font: bold 42px 'Lato', sans-serif;
}

.content-title {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    font-style: italic;
    text-align: center;
    color: darkslategrey;
}

.text-wrapper {
    margin: 25px auto;
    box-sizing: border-box;
    width: 500px;
    text-align: justify;
    line-height: 150%;
}

.content-title.content-subtitle1 {
    font-size: 24px;
    font-weight: 500;
}

.content-title.content-subtitle2 {
    font-size: 20px;
    font-weight: 500;
}

.image {
    width: 500px;
    filter: grayscale(100%);
}

.footer {
    margin: 0 auto 50px auto;
    border-top: var(--main-border);
    font-size: 12px;
}
