
body {
  margin: 0 auto;
  font: 400 16px Spartan, sans-serif;
}

body {
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: black;
  }
}

.nav-panel {
  box-sizing: border-box;
}

.hero-img {
  grid-area: top-image;
  position: relative;
  box-sizing: border-box;
}

.hero-img--desktop {
  display: none;
}

.hero-img--mobile {
  width: 100%;
}

.hero-img--left-arrow {
  position: absolute;
  bottom: 4px;
  right: 53px;
  padding: 20px;
  background-color: black;
  cursor: pointer;
}

.hero-img--right-arrow {
  position: absolute;
  bottom: 4px;
  right: 0;
  padding: 20px;
  background-color: black;
  cursor: pointer;
}

.main-description {
  grid-area: top-text;
  width: 80%;
}

.img-dark {
  grid-area: middle-image;
  width: 100%;
}

.sub-description {
  grid-area: bottom-text;
  width: 80%;
}

.img-light {
  grid-area: bottom-image;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas:
  "top-image"
  "top-text"
  "middle-image"
  "bottom-text"
  "bottom-image";
  grid-gap: 3em;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  width: 375px;
  justify-items: center;
}

.nav-container {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
}

.main-description__header {
  font-size: calc(20px + 1vw);
}

.main-description__text {
  margin-bottom: 30px;
}

.main-description__link {
  font: small-caps 600 16px Spartan, sans-serif;
  letter-spacing: 0.8em;
  cursor: pointer;
}

.main-description__arrow {
  padding-left: 2em;
  vertical-align: middle;
  cursor: pointer;
}

.sub-description__header {
  font: 700 13px Spartan, sans-serif;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1150px) {
  .wrapper {
    display: grid;
    grid-template-columns: minmax(29%, 420px) minmax(29%, 420px) minmax(11.5%, 160px) minmax(30.5%, 440px);
    grid-template-rows: minmax(1fr, 534px) minmax(1fr, 266px);
    //grid-template-areas:
    //"top-image" "top-text"
    //"middle-image" "bottom-text"  "bottom-image";
    grid-gap: 0;
    box-sizing: border-box;
    //margin: 0 auto;
    padding: 10px;
    width: auto;
    max-width: 1440px;
  }

  .logo-container {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }


  .main-description__header {
    font-size: calc(15px + 1vw);
  }

  .hero-img {
    display: contents;
    position: relative;
    //grid-column: 1/3;
    //grid-row: 1/2;
    //position: static;
    //box-sizing: border-box;
    //width: 100%;
  }

  .hero-img--left-arrow {
    position: static;
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 34px;
    justify-self: start;
    align-self: end;
    background-color: black;
    cursor: pointer;
  }

  .hero-img--right-arrow {
    position: static;
    grid-column: 3/4;
    grid-row: 1/2;
    place-self: end;
    padding: 34px;
    background-color: black;
    cursor: pointer;
  }

  .hero-img--desktop {
    grid-column: 1/3;
    grid-row: 1/2;
    display: initial;
    width: 100%;
  }

  .hero-img--mobile {
    display: none
  }

  .main-description {
    grid-column: 3/5;
    grid-row: 1/2;
    box-sizing: border-box;
    //padding: 7em 3em 0 3em;
    width: 65%;
    height: 65%;
    align-self: center;
  }

  .main-description__text {
    margin-bottom: 30px;
    font-size: 1vw;
  }

  .img-dark {
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
  }

  .sub-description {
    grid-column: 2/4;
    grid-row: 2/3;
    place-self: center;
  }

  .sub-description__text {
    font-size: 1vw;
  }

  .img-light {
    grid-column: 4/5;
    grid-row: 2/3;
    object-fit: cover;
  }

  .logo {
    position: fixed;
    z-index: 1;
    top: 80px;
    right: 950px;
    transform: none;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1150px) {

  .main-description__text, .sub-description__text {
    font-size: 16px;
  }

  .wrapper {
    display: grid;
    grid-template-areas:
  "top-image"
  "top-text"
  "middle-image"
  "bottom-text"
  "bottom-image";
    grid-gap: 3em;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 80vw;
    justify-items: center;
  }

  .hero-img--desktop, .img-dark, .img-light {
    //grid-column: 1/3;
    //grid-row: 1/2;
    display: initial;
    object-fit: cover;
    width: 100%;
  }

  .hero-img--mobile {
    display: none
  }
}

@media only screen and (min-width: 1700px) {
  .main-description__header {
    font-size: 34px;
  }

  .main-description__text, .sub-description__text {
    font-size: 16px;
  }
}
