:root {
    --nav-padding: 20px 0;
    --main-border: thin solid lightgray;
}

body {
    font: 15px 'Droid Serif', Verdana, Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    margin-top: 80px;
    width: 80%;
}

.content-wrapper {
    float: right;
    width: 69%;
}

.sidebar {
    float: left;
    box-sizing: border-box;
    width: 31%;
    max-width: 300px;
    padding-right: 10px;
}

.navigation-panel {
    padding-left: 0;
    font-size: 19px;
    list-style-type: none;
}

.navigation-panel > li {
    border-bottom: var(--main-border);
    padding: var(--nav-padding);
}

.navigation-panel > li:first-child {
    border-top: var(--main-border);
}

.nav-link-text,
.nav-link-text:visited {
    text-decoration: none;
    color: darkslategrey;
}

.logo {
    font: 500 32px 'Lato', sans-serif;
    text-align: center;
}

.ampersand {
    font: bold 42px 'Lato', sans-serif;
}

.content-header {
    margin-left: auto;
    margin-right: auto;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    font-style: italic;
    text-align: center;
    color: darkslategrey;
}

.text-wrapper {
    margin: 25px auto;
    padding: 0 3em;
    box-sizing: border-box;
    max-width: 500px;
    text-align: justify;
    line-height: 150%;
}

.content-title {
    font-size: 24px;
    font-weight: 500;
}

.content-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.image {
    width: 100%;
    filter: grayscale(100%);
}

.footer {
    margin: 0 auto 50px auto;
    border-top: var(--main-border);
    font-size: 12px;
}
