body {
    font-family: 'Montserrat';
}


h1 {
    background-color: mistyrose;
    text-align: center;
    height: 150px;
    width: auto;
    max-width: 1000px;
    margin: 0px;


}

content {
    display: flex;
    height: auto;
    justify-content: center;
    min-height: 250px;

}

.sidebar {
    flex: 1;
    background-color: pink;
    margin: 5px 5px 0px 0px;
}

.mainpage {
    flex: 4;
    background-color: pink;
    margin: 5px 0px 0px 0px;

}



@media only screen and (min-width: 1000px) {
    .sidebar {
        max-width: 200px;
    }

    .mainpage {
        max-width: 800px;
    }
}
