body {
    font-family: 'Lato', sans-serif;
}

.section {
    padding: 50px 20px;
    background-color: #272727;
}

.section:nth-child(2n) {
    background-color: #E9E5DC;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}
