:root {
    --shadow: 5px 8px 15px;
    --shadow-text: 5px 8px 15px #512123;
    --primary-color--light: #ffe7ff;
    --primary-color--dark: #512123;
}

body {
    font: 600 30px 'Cutive Mono', monospace;
    opacity: 0.9;
}

.parallax {
    height: 100vh;
    background-image: url("winter.jpg");
    background-attachment: fixed;
    background-position: 65%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax--short {
    height: 70vh;
    background-image: url("winter.jpg");
    background-attachment: fixed;
    background-position: 65%;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    position: absolute;
    margin: 25% 10%;
    box-shadow: var(--shadow-text);
    padding: 0.25em;
    font: small-caps 700 50px 'Cutive Mono', monospace;
    letter-spacing: 1px;
    color: var(--primary-color--light);
}

.primary-card {
    position: absolute;
    margin-left: 10%;
    box-shadow: var(--shadow-text);
    padding: 0.5em;
    width: 60vw;
    color: var(--primary-color--light);
}

.card {
    position: absolute;
    margin-left: 10%;
    box-shadow: var(--shadow);
    width: 60vw;
    padding: 0.5em;
    background-color: rgb(255, 231, 255, 0.6);
    color: var(--primary-color--dark);
}

@media only screen and (max-width:500px) {
    body {
        font-size: 25px;
    }
}

@media (orientation:landscape) and (max-width:800px) {
    body {
        font-size: 25px;
    }
}

@media only screen and (min-width:1000px) {

    .card,
    .primary-card {
        width: 50vw;
    }
}
